.comments{
  .box{
    display: -webkit-inline-flex;
    display: inline-flex;
    button{
      margin-right: 20px;
    }
  }
  .jumbotron{
    padding: 2rem 2rem;
    .row{
      .vote-container{
        text-align: center;
        .vote-box{
          .votes-counter{
            font-size: 25px;
            font-weight: 400;
          }
        }
      }
    }
    .data{
      text-align: center;
    }
    .replies{
      background-color: #cfd8dc;
      padding: 30px;
      margin-top: 20px;
      border-radius: 0.3rem;
      div{
        span{
          font-size: 13px;
          strong{
            color: #0069D9;
          }          
        }
      }
    }
  }
}