.questions{
  .card{
    .title{
      font-size: 2em;
      font-weight: 600;
    }
    .user{
      color: #2f3639;
      font-size: 1em;
      margin-bottom: .2em;
      font-weight: 400;
      position: relative;
    }
    .date{
      color: #d99d5b;
      font-size: 13px;
      margin: 6px 0;
      line-height: 1.4;
      display: block;
    }
    .card-body{
      .box-container{
        display: inline-flex;
        display: -webkit-inline-flex;
        width: 100%;
        .box{
          display: grid;
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}